<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>
<body>

    {{{body}}}
<!-- Master Temp. It is a default so that every page has the same header, footer, navi, unless you specify that your web page will not-->
</body>
</html>
